name: Release

on:
  push:
    tags:
      - "v*"


jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      db:
        image: mysql:8.0
        ports:
          - 33061:3306
        env:
          MYSQL_DATABASE: example
          MYSQL_ROOT_USER: root
          MYSQL_ROOT_PASSWORD: password
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Set up Go 1.18
        uses: actions/setup-go@v2
        with:
          go-version: 1.19

      - name: Check out code
        uses: actions/checkout@v2

      - name: Cache go modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Run go fmt
        if: runner.os != 'Windows'
        run: diff -u <(echo -n) <(gofmt -d -s .)
      - name: Run go vet
        run: go vet ./...

      - name: Run go test
        run: |
          go test -v ./...
        env:
          PORT: 8080
          MAX_OPEN_CONNS: 30
          MAX_IDLE_CONNS: 30
          MYSQL_DATABASE: example
          MYSQL_DSN: root:password@tcp(localhost:33061)/example?charset=utf8mb4&parseTime=True
          ALLOW_CORS_ORIGIN: "*"

  release:
    name: Release
    needs: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.19' ]

    steps:
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code
        uses: actions/checkout@v2

      - name: Cache go modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build And Push ECR
        run: |
          docker build -t ecr-practice .
          docker tag ecr-practice:latest 413937037843.dkr.ecr.ap-northeast-1.amazonaws.com/ecr-practice:latest
          docker push 413937037843.dkr.ecr.ap-northeast-1.amazonaws.com/ecr-practice:latest
          
